*{
    padding: 0px;
    margin:0px;
    box-sizing: border-box;
    color:rgb(40, 40, 40);
    font-family: 'Poppins', sans-serif;
    
}

.pop-up__container{
    visibility: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.522);
}
.pop-up__form{
    height:400px;
    width: 300px;
    padding: 16px;
    z-index: 100;
    background-color: rgb(226, 226, 226);
    box-shadow: 0 4px 60px 10px rgba(0, 0, 0, 0.29);
    
    border-radius: 8px;
} 

input, select{
    padding: 4px;
    margin: 8px 0px;
    width: 100%;
    border: 0;
    height:24px;
    border-radius: 4px;
    background-color: rgb(243, 243, 243);
}

input[type=text]:focus {
    border: 0px;
  }

button{
    padding:4px;
}
#description{
    padding: 4px;
    margin: 8px 0px;
    width: 100%;
    background-color: rgb(243, 243, 243);
    resize: none;
    border:none;
    border-radius: 4px;
    
}
.board{
    width: 100%;
    height: 80vh;
    display: flex;
    padding-top:16px;
    justify-content: right;   
}
h1{
    padding:16px;
    z-index: 10;
    color: rgb(238, 238, 238);
    background-color:rgb(12, 126, 248) ;
    box-shadow: 0 4px 60px 10px rgba(0, 0, 0, 0.29);
}
.list__header{
    display: flex;
    padding-right:16px;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    
}
.todo .list__header {
    border-bottom:3px solid rgb(73, 118, 255) ;
}
.doing .list__header{
    
    border-bottom:3px solid rgb(255, 179, 73);
}
.done .list__header{
    
    border-bottom:3px solid rgb(73, 255, 73);
}
h3{
    color: rgb(19, 19, 19);
    padding: 16px;
    border-radius: 8px 8px 0 0;;
}

.col-container{
    width: 100%;
    height: 90vh;
    margin :8px;
    border-radius: 8px;
    background-color: rgb(245, 245, 245);
    box-shadow: 0 0 40px 10px rgba(0, 0, 0, 0.109);
}
.todo{
    
    overflow-x: hidden;
    overflow-y: auto;
    align-items: center;
    flex-direction: column;
}

.doing{
    width: 100%;
    height: 90vh;
    overflow-y: auto;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.done{
    width: 100%;
    height: 90vh;
    overflow-y: auto;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


ul{
    list-style: none;
}
.task{
    margin: 16px 16px;
    padding: 8px;
    overflow-wrap: break-word;
    background-color: rgb(255, 255, 255);
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.21);
    border-radius: 6px;
}
.task__header{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between
}
.task__header i{
    visibility: hidden;
}

.addCard{
    margin:0 8px;
    padding: 4px;
    color: rgb(90, 90, 90);
    
}
.addCard:hover{
    cursor: pointer;
    color:rgb(40, 40, 40);
    
    background-color: rgb(236, 236, 236);
    border-radius: 4px;
}